@use 'sass:map';
@use 'config' as *;

$border-values: (
  null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color-translucent),
  wide: $border-width-wide var(--#{$prefix}border-style) var(--#{$prefix}border-color-translucent),
  0: 0,
);

$utilities-border-colors: map-loop(
  (
    'red': red,
    'green': green,
  ),
  rgba-css-var,
  '$key',
  'border'
) !default;

// Utilities

$utilities: () !default;

$utilities: map.merge(
  $utilities,
  (
    'align': (
      property: vertical-align,
      class: align,
      values: baseline top middle bottom text-bottom text-top,
    ),
    'float': (
      property: float,
      class: float,
      values: (
        start: left,
        end: right,
        none: none,
      ),
    ),
    // Opacity
    'opacity': (
      property: opacity,
      values: (
        0: 0,
        25: .25,
        50: .5,
        75: .75,
        100: 1,
      ),
    ),
    // Overflow
    'overflow': (
      property: overflow,
      values: auto hidden visible scroll,
    ),
    // Display
    'display': (
      responsive: true,
      print: true,
      property: display,
      class: d,
      values: inline inline-block block grid inline-grid table table-row table-cell flex inline-flex none,
    ),
    // Shadow
    'shadow': (
      property: box-shadow,
      class: shadow,
      values: (
        null: var(--#{$prefix}box-shadow),
        sm: var(--#{$prefix}box-shadow-sm),
        lg: var(--#{$prefix}box-shadow-lg),
      ),
    ),
    // Focus ring
    'focus-ring': (
      css-var: true,
      css-variable-name: focus-ring-color,
      class: focus-ring,
      values: map-loop($theme-colors-rgb, rgba-css-var, '$key', 'focus-ring'),
    ),
    // Position
    'position': (
      property: position,
      values: static relative absolute fixed sticky,
    ),
    'top': (
      property: top,
      values: $position-values,
    ),
    'bottom': (
      property: bottom,
      values: $position-values,
    ),
    'start': (
      property: inset-inline-start,
      class: start,
      values: $position-values,
    ),
    'end': (
      property: inset-inline-end,
      class: end,
      values: $position-values,
    ),
    // Inset
    'inset': (
      property: inset,
      values: null,
    ),
    // Visible
    'visible': (
      property: visibility,
      class: null,
      values: (
        visible: visible,
        invisible: hidden,
      ),
    ),
    // Z-index
    'z-index': (
      property: z-index,
      class: z,
      values: $zindex-levels,
    ),
    // Flex
    'flex': (
      responsive: true,
      property: flex,
      values: (
        fill: 1 1 auto,
        row: row,
        column: column,
        row-reverse: row-reverse,
        column-reverse: column-reverse,
        grow-0: 0,
        grow-1: 1,
        shrink-0: 0,
        shrink-1: 1,
        wrap: wrap,
        nowrap: nowrap,
        wrap-reverse: wrap-reverse,
      ),
    ),
    'justify-content': (
      responsive: true,
      property: justify-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
      ),
    ),
    'align-items': (
      responsive: true,
      property: align-items,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      ),
    ),
    'align-content': (
      responsive: true,
      property: align-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        stretch: stretch,
      ),
    ),
    'align-self': (
      responsive: true,
      property: align-self,
      values: (
        auto: auto,
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      ),
    ),
    'order': (
      responsive: true,
      property: order,
      values: (
        first: -1,
        0: 0,
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        last: 6,
      ),
    ),
    // Margin
    'margin': (
      responsive: true,
      property: margin,
      class: m,
      values: map.merge($spacers, (auto: auto)),
    ),
    'margin-x': (
      responsive: true,
      property: margin-right margin-left,
      class: mx,
      values: map.merge($spacers, (auto: auto)),
    ),
    'margin-y': (
      responsive: true,
      property: margin-top margin-bottom,
      class: my,
      values: map.merge($spacers, (auto: auto)),
    ),
    'margin-top': (
      responsive: true,
      property: margin-top,
      class: mt,
      values: map.merge($spacers, (auto: auto)),
    ),
    'margin-end': (
      responsive: true,
      property: margin-inline-end,
      class: me,
      values: map.merge($spacers, (auto: auto)),
    ),
    'margin-bottom': (
      responsive: true,
      property: margin-bottom,
      class: mb,
      values: map.merge($spacers, (auto: auto)),
    ),
    'margin-start': (
      responsive: true,
      property: margin-inline-start,
      class: ms,
      values: map.merge($spacers, (auto: auto)),
    ),
    // Negative margin
    'negative-margin': (
      responsive: true,
      property: margin,
      class: m,
      values: $negative-spacers,
    ),
    'negative-margin-x': (
      responsive: true,
      property: margin-right margin-left,
      class: mx,
      values: $negative-spacers,
    ),
    'negative-margin-y': (
      responsive: true,
      property: margin-top margin-bottom,
      class: my,
      values: $negative-spacers,
    ),
    'negative-margin-top': (
      responsive: true,
      property: margin-top,
      class: mt,
      values: $negative-spacers,
    ),
    'negative-margin-end': (
      responsive: true,
      property: margin-inline-end,
      class: me,
      values: $negative-spacers,
    ),
    'negative-margin-bottom': (
      responsive: true,
      property: margin-bottom,
      class: mb,
      values: $negative-spacers,
    ),
    'negative-margin-start': (
      responsive: true,
      property: margin-inline-start,
      class: ms,
      values: $negative-spacers,
    ),
    // Padding
    'padding': (
      responsive: true,
      property: padding,
      class: p,
      values: $spacers,
    ),
    'padding-x': (
      responsive: true,
      property: padding-right padding-left,
      class: px,
      values: $spacers,
    ),
    'padding-y': (
      responsive: true,
      property: padding-top padding-bottom,
      class: py,
      values: $spacers,
    ),
    'padding-top': (
      responsive: true,
      property: padding-top,
      class: pt,
      values: $spacers,
    ),
    'padding-end': (
      responsive: true,
      property: padding-inline-end,
      class: pe,
      values: $spacers,
    ),
    'padding-bottom': (
      responsive: true,
      property: padding-bottom,
      class: pb,
      values: $spacers,
    ),
    'padding-start': (
      responsive: true,
      property: padding-inline-start,
      class: ps,
      values: $spacers,
    ),
    // Gap
    'gap': (
      responsive: true,
      property: gap,
      class: gap,
      values: $spacers,
    ),
    'row-gap': (
      responsive: true,
      property: row-gap,
      class: row-gap,
      values: $spacers,
    ),
    'column-gap': (
      responsive: true,
      property: column-gap,
      class: column-gap,
      values: $spacers,
    ),
    // Sizing
    'width': (
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    'max-width': (
      property: max-width,
      class: mw,
      values: (
        100: 100%,
      ),
    ),
    'viewport-width': (
      property: width,
      class: vw,
      values: (
        100: 100vw,
      ),
    ),
    'min-viewport-width': (
      property: min-width,
      class: min-vw,
      values: (
        100: 100vw,
      ),
    ),
    'height': (
      property: height,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    'max-height': (
      property: max-height,
      class: mh,
      values: (
        100: 100%,
      ),
    ),
    'viewport-height': (
      property: height,
      class: vh,
      values: (
        100: 100vh,
      ),
    ),
    'min-viewport-height': (
      property: min-height,
      class: min-vh,
      values: (
        100: 100vh,
      ),
    ),
    // Flex
    'flex-basis': (
      responsive: true,
      property: flex-basis,
      values: (
        0: 0,
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    // Border
    'border': (
      property: border,
      values: $border-values,
    ),
    'border-top': (
      property: border-top,
      values: $border-values,
    ),
    'border-end': (
      property: border-inline-end,
      class: border-end,
      values: $border-values,
    ),
    'border-bottom': (
      property: border-bottom,
      values: $border-values,
    ),
    'border-start': (
      property: border-inline-start,
      class: border-start,
      values: $border-values,
    ),
    'border-color': (
      property: border-color,
      class: border,
      local-vars: (
        'border-opacity': 1,
      ),
      values: $utilities-border-colors,
    ),
    'border-subtle': (
      property: border-color,
      class: border,
      values: $utilities-border-subtle,
    ),
    'border-width': (
      property: border-width,
      class: border,
      values: $border-widths,
    ),
    // Background
    'background-color': (
      property: background-color,
      class: bg,
      local-vars: (
        'bg-opacity': 1,
      ),
      values: $utilities-bg-colors,
    ),
    'bg-gradient': (
      property: background-image,
      class: bg,
      values: (
        gradient: var(--#{$prefix}gradient),
      ),
    ),
    'gradient-direction': (
      property: --#{$prefix}gradient-direction,
      class: gradient-direction,
      values: (
        top: to bottom,
        top-start: to bottom right,
        start: to right,
        end: to left,
        bottom-start: to top right,
      ),
    ),
    'gradient-stops': (
      property: --#{$prefix}gradient-stops,
      class: gradient-stops,
      values: (
        'primary': var(--#{$prefix}primary),
        'primary-dark': var(--#{$prefix}primary-dark),
        'azure': var(--#{$prefix}azure),
        'azure-dark': var(--#{$prefix}azure-dark),
        'indigo': var(--#{$prefix}indigo),
        'indigo-dark': var(--#{$prefix}indigo-dark),
        'red': var(--#{$prefix}red),
        'red-dark': var(--#{$prefix}red-dark),
        'pink': var(--#{$prefix}pink),
        'pink-dark': var(--#{$prefix}pink-dark),
        'orange': var(--#{$prefix}orange),
        'orange-dark': var(--#{$prefix}orange-dark),
        'yellow': var(--#{$prefix}yellow),
        'yellow-dark': var(--#{$prefix}yellow-dark),
        'lime': var(--#{$prefix}lime),
        'lime-dark': var(--#{$prefix}lime-dark),
        'green': var(--#{$prefix}green),
        'green-dark': var(--#{$prefix}green-dark),
        'teal': var(--#{$prefix}teal),
        'teal-dark': var(--#{$prefix}teal-dark),
        'cyan': var(--#{$prefix}cyan),
        'cyan-dark': var(--#{$prefix}cyan-dark),
      ),
    ),
    // Backdrop
    'backdrop-blur': (
      property: backdrop-filter,
      class: backdrop-blur,
      values: (
        null: blur($backdrop-blur),
      ),
    ),
    // Gradient direction
    'gradient-direction-override': (
      property: --#{$prefix}gradient-direction,
      class: gradient-direction-override,
      values: (
        'to-top': to bottom,
        'to-start': to right,
        'to-end': to left,
        'to-bottom-start': to top right,
      ),
    ),
    // Font family
    'font-family': (
      property: font-family,
      class: font,
      values: (
        monospace: var(--#{$prefix}font-monospace),
      ),
    ),
    // Font size
    'font-size': (
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes,
    ),
    // Font style
    'font-style': (
      property: font-style,
      class: fst,
      values: italic normal,
    ),
    // Font weight
    'font-weight': (
      property: font-weight,
      class: fw,
      values: (
        lighter: $font-weight-lighter,
        light: $font-weight-light,
        normal: $font-weight-normal,
        medium: $font-weight-medium,
        semibold: $font-weight-semibold,
        bold: $font-weight-bold,
        bolder: $font-weight-bolder,
      ),
    ),
    // Line height
    'line-height': (
      property: line-height,
      class: lh,
      values: (
        sm: $line-height-sm,
        base: $line-height-base,
        lg: $line-height-lg,
      ),
    ),
    // Text
    'text-align': (
      responsive: true,
      property: text-align,
      class: text,
      values: (
        start: start,
        end: end,
        center: center,
      ),
    ),
    'text-decoration': (
      property: text-decoration,
      values: none underline line-through,
    ),
    'text-transform': (
      property: text-transform,
      class: text,
      values: lowercase uppercase capitalize,
    ),
    'white-space': (
      property: white-space,
      class: text,
      values: (
        wrap: normal,
        nowrap: nowrap,
      ),
    ),
    'word-wrap': (
      property: word-wrap word-break,
      class: text,
      values: (
        break: break-word,
      ),
      rtl: false,
    ),
    // Text color
    'color': (
      property: color,
      class: text,
      local-vars: (
        'text-opacity': 1,
      ),
      values: map.merge(
        $utilities-text-colors,
        (
          'muted': var(--#{$prefix}secondary-color),
          'reset': inherit,
          'black-50': rgba($black, 0.5),
          'white-50': rgba($white, 0.5),
          'body': var(--#{$prefix}body-color),
          'body-secondary': var(--#{$prefix}secondary-color),
          'body-tertiary': var(--#{$prefix}tertiary-color),
          'body-emphasis': var(--#{$prefix}emphasis-color),
        )
      ),
    ),
    'text-opacity': (
      css-var: true,
      class: text-opacity,
      values: (
        25: .25,
        50: .5,
        75: .75,
        100: 1,
      ),
    ),
    'text-emphasis-color': (
      property: color,
      class: text,
      values: $utilities-text-emphasis-colors,
    ),
    'text-reset': (
      property: color,
      class: text,
      values: (
        reset: inherit,
      ),
    ),
    // Text line height
    'text-line-height': (
      property: line-height,
      class: lh,
      values: (
        1: 1,
        sm: $line-height-sm,
        base: $line-height-base,
        lg: $line-height-lg,
      ),
    ),
    // Link
    'link-opacity': (
      css-var: true,
      class: link-opacity,
      state: hover,
      values: (
        10: .1,
        25: .25,
        50: .5,
        75: .75,
        100: 1,
      ),
    ),
    'link-offset': (
      property: text-underline-offset,
      class: link-offset,
      state: hover,
      values: (
        1: .125em,
        2: .25em,
        3: .375em,
      ),
    ),
    'link-underline-opacity': (
      css-var: true,
      class: link-underline-opacity,
      state: hover,
      values: (
        0: 0,
        10: .1,
        25: .25,
        50: .5,
        75: .75,
        100: 1,
      ),
    ),
    'link-underline-color': (
      property: text-decoration-color,
      class: link-underline,
      local-vars: (
        'link-underline-opacity': 1,
      ),
      values: $utilities-links-underline,
    ),
    // Border radius
    'rounded': (
      property: border-radius,
      class: rounded,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        1: var(--#{$prefix}border-radius-sm),
        2: var(--#{$prefix}border-radius),
        3: var(--#{$prefix}border-radius-lg),
        4: var(--#{$prefix}border-radius-xl),
        5: var(--#{$prefix}border-radius-xxl),
        pill: var(--#{$prefix}border-radius-pill),
        circle: 50%,
      ),
    ),
    'rounded-top': (
      property: border-top-left-radius border-top-right-radius,
      class: rounded-top,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        1: var(--#{$prefix}border-radius-sm),
        2: var(--#{$prefix}border-radius),
        3: var(--#{$prefix}border-radius-lg),
        4: var(--#{$prefix}border-radius-xl),
        5: var(--#{$prefix}border-radius-xxl),
        pill: var(--#{$prefix}border-radius-pill),
      ),
    ),
    'rounded-end': (
      property: border-top-right-radius border-bottom-right-radius,
      class: rounded-end,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
      ),
    ),
    'rounded-bottom': (
      property: border-bottom-right-radius border-bottom-left-radius,
      class: rounded-bottom,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
      ),
    ),
    'rounded-start': (
      property: border-bottom-left-radius border-top-left-radius,
      class: rounded-start,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
      ),
    ),
  )
);

$utilities: map.merge(
  $utilities,
  (
    'text-color': (
      property: color,
      class: text,
      values: $utilities-text-colors,
    ),
    'text-color-emphasis': (
      property: color,
      class: text,
      values: $utilities-text-emphasis-colors,
    ),
    'bg-color': (
      property: background-color,
      class: bg,
      values: map.merge($utilities-bg-colors, ('body': var(--#{$prefix}body-bg))),
    ),
    'bg-subtle': (
      property: background-color,
      class: bg,
      values: $utilities-bg-subtle,
    ),
  )
);

