{% load i18n %}
<li class="nav-item {% if item.children %}dropdown{% endif %}" x-data="{ open: false }">
  {% if not item.children %}
    <a class="nav-link" href="{% url item.route_name %}">
      <span class="nav-link-icon d-md-none d-lg-inline-block">
        {% include "partials/icons.html" with icon=item.icon %}
      </span>
      <span class="nav-link-title">{% trans item.label %}</span>
    </a>
  {% else %}
    <a class="nav-link dropdown-toggle" href="javascript:void(0)"
       @click.prevent="open = !open" :class="{ active: open }"
       role="button" aria-haspopup="true" :aria-expanded="String(open)">
      <span class="nav-link-icon d-md-none d-lg-inline-block">
        {% include "partials/icons.html" with icon=item.icon %}
      </span>
      <span class="nav-link-title">{% trans item.label %}</span>
    </a>
    <div class="dropdown-menu" :class="{ show: open }">
      {% for child in item.children %}
        <a class="dropdown-item" href="{% url child.route_name %}">
          {% include "partials/icons.html" with icon=child.icon %}
          {% trans child.label %}
        </a>
      {% endfor %}
    </div>
  {% endif %}
</li>