{% load i18n %}
{% get_current_language as CURRENT_LANG %}
{% get_available_languages as LANGUAGES %}
<div class="nav-item dropdown">
  <a href="javascript:void(0)" class="nav-link px-0"
     data-bs-toggle="dropdown" tabindex="-1"
     aria-label="{% trans 'layout.header.language' %}">
    {% include "partials/icons.html" with icon="language" %}
  </a>
  <div class="dropdown-menu dropdown-menu-end">
    <form action="{% url 'set_language' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.path }}">
      {% for code, name in LANGUAGES %}
        <button type="submit" name="language" value="{{ code }}"
                class="dropdown-item {% if code == CURRENT_LANG %}active{% endif %}">
          {{ name }}
        </button>
      {% endfor %}
    </form>
  </div>
</div>