{% load i18n %}
<aside class="navbar navbar-vertical navbar-expand-lg"
       x-data="{ open: true }"
       :class="{ 'navbar-collapsed': $store.layout.sidebarCollapsed }">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
            aria-controls="sidebar-menu" aria-expanded="false"
            aria-label="{% trans 'layout.header.toggleSidebar' %}">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand navbar-brand-autodark">
      <a href="/" aria-label="{% trans 'app.name' %}">
        <img src="/static/img/logo.svg" height="24" alt="Logo" class="me-2">
      </a>
      {% trans "app.name" %}
    </div>

    <div class="collapse navbar-collapse" id="sidebar-menu">
      <ul class="navbar-nav pt-lg-3">
        {% for item in menu_items %}
          {% include "partials/_sidebar_item.html" with item=item %}
        {% endfor %}
      </ul>
    </div>
  </div>
</aside>